
.LandingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 100%;
}

.NavBar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ConnectAccountBtn {
    margin-left: 1rem;
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    /* height: 100%; */
    /* width: 100px; */
    background-color: #ff4444;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.75rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.WalletConnected {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1rem;
    text-align: left;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #f5f5f5;
    width: 200px;
}

.BalanceBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1rem;
    text-align: left;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    color: black;
    max-width: 300px;
}

.BalanceBox span {
    padding-left: 0.75rem;
}

.LogoGameBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    /* background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  center no-repeat; */
    /* background-size:cover; */
    border-radius: 5px;
    min-width: 200px;
    max-width: 300px;
}

.GameNumberText {
    color: white;
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: bold;
}

.HeadingPrimary {
    font-size: 2rem;
    font-weight: bold;
}

.HeadingSecondary {
    font-size: 1.5rem;
    font-weight: bold;
}

.Equation {
    font-size: 0.5rem;
    font-weight: 300;
    background-color: #f5f5f5;
    color: #495057;
    text-align: center;
    padding: 0.5rem;
}

/* Dive Bar styles */
.DiveBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Game styles */
.GameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.GameContainer > div {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}   

.MainGame {
    /* margin-top: 1rem; */
}

.BetContainer {
    display: flex;
    flex-direction: row !important;
    border: 0.2rem solid #fff;
    border-radius: 0.75rem;
    padding: 2rem;
    min-width: 300px;
    max-width: 400px;
    place-content: center;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 2rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 2.8rem #bc13fe,
                inset 0 0 1.3rem #bc13fe;
}

.GameTimer {
    font-size: 2rem;
    line-height: 2;
    text-align: center;
}

.BarText {
    font-size: 2.5rem;
    line-height: 2;
}

.PotDisplay {
    display: flex;
    flex-direction: row !important;
}

.PotText {
    font-size: 1.25rem;
    line-height: 2;
}

.BetInput {
    font-size: 1.25rem;
    line-height: 2;
    border: none;
    outline: none;
    color: white;
    border-bottom: 4px solid white;
    /* background-color: #f8f9fa; */
    background: transparent;
    text-align: left;
    max-width: 75px;
    padding-right: 0.5rem;
}

.BetBtn {
    margin-left: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    /* font: 400 7vh "Vibur"; */
    background: transparent;
    border: none;
    outline: none;
    color: white;
}

/* Rules styles */
.RulesContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 2rem;
    width: 50%;
}

.Rules {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.Rules > span {
    font-size: 1.25rem;
    line-height: 1.25;
}